* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(229, 84, 115, 0.10);


}

img.banner-pic {
    width: 480px;
    height: 580px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 100px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
    padding-top: 50px;
    padding-right: 100px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
}

.banner-button {
    width: 115px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.banner-content {
    width: 600px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 180px;
    gap: 50px;


}

/* Main Styles */

.features-flowers {
    background: #FFF;
}

.feature-header {
    margin-top: 130px;
    margin-bottom: 50px;
    margin-right: 300px;
    margin-left: 300px;
    border-radius: 15px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    /* margin-top: 130px; */
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 180px;
    /* padding: 20px 200px; */
}

.features-container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    margin: 0px 70px;
}

div.feature img.feature-img-size {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-top: 100px;
    padding-right: 90px;
    padding-left: 90px;
}

div.feature img.feature-img-size {
    width: 235px;
    height: 335px;
}

.feature-img-caption {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 17px;
    font-weight: 700;
    text-decoration-line: underline;
    padding-top: 10px;
    margin-bottom: 80px;
    
}

.random-pic-section {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    max-width: 1370px;
    margin: 0 auto;

}

.randoms-container {
    /* align-items: center;
    justify-content: center; */
    display: flex;
    justify-content: space-around;
    margin: 0px 70px;
}

/* .random{
    padding-bottom: 80px;
} */

.random-img-size {
    padding-top: 80px;
    padding-left: 30px;
}

.random-img-caption {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 70px;
}
